[submodule "PPG12-analysis-note"]
	path = PPG12-analysis-note
	url = https://git.overleaf.com/67472ba398b51a2fcd7c5a3f
	branch = master
[submodule "ppg12_conf_note"]
	path = ppg12_conf_note
	url = https://git.overleaf.com/67c1f9f9c81c53acbada8f68
	branch = master
