#config.yaml
#var from nomtestv5, adding pT dependent weta, wphi cut and et1 cut, rm et2, et3
input:
  photon_jet_file_root_dir: "/sphenix/user/shuhangli/ppg12/FunWithxgboost/"
  photon_jet_file_branch_dir: "/bdt_1214.root"
  data_file: "/sphenix/user/shuhangli/ppg12/anatreemaker/macro_maketree/data/ana521/condorout/part_*_with_bdt.root"
  tree: "slimtree"
  cluster_node_name: "CLUSTERINFO_CEMC_NO_SPLIT"
  bdt_model_name: "base_v3E"
  unfold_input: "results/MC_efficiency_photon5.root"

output:
  eff_outfile: "/sphenix/user/shuhangli/ppg12/efficiencytool/results/MC_efficiency"
  response_outfile: "/sphenix/user/shuhangli/ppg12/efficiencytool/results/MC_response"
  data_outfile: "/sphenix/user/shuhangli/ppg12/efficiencytool/results/data_histo"
  var_type: "showershape"
  final_outfile: "/sphenix/user/shuhangli/ppg12/efficiencytool/results/Photon_final"

analysis:
  isbackground: 0
  eta_bins: [-0.7, 0.7]
  vertex_cut: 100.0
  truth_iso_max: 4.0
  reco_iso_min: -20.0
  reco_iso_max_b: 1.08128
  reco_iso_max_s: 0.0299107
  #reco_iso_max_b: 3.0
  #reco_iso_max_s: 0.0
  reco_noniso_min_shift: 1.0
  reco_noniso_max: 20.0
  reco_min_ET: 5.0
  cone_size: 3
  eff_dR: 0.1
  trigger_used: 30
  pT_bins: [10, 14, 18, 22, 26, 35, 50]
  pT_bins_truth:  [7, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 35, 40]
  iso_threshold: 1
  iso_hcalonly: 0
  iso_emcalinnerr: 0.2
  n_nt_fail: 1
  # Non-physical background (NPB) veto (match RecoEffCalculator_TTreeReader.C)
  npb_cut_on: 0
  npb_weta_min: 0.4
  # For ShowerShapeCheck: NPB bad-time uses cluster-MBD time (ns)
  npb_delta_t_cut: -7.0 

  # Run-by-run MBD t0 correction (data only)
  mbd_t0_correction_on: 1
  mbd_t0_correction_file: "/sphenix/user/shuhangli/ppg12/efficiencytool/MbdOut.corr"

  weta_fail: 0
  wphi_fail: 0
  et1_fail: 0
  e11_to_e33_fail: 0
  e32_to_e35_fail: 0
  bdt_fail: 0
  weta_on: 0
  wphi_on: 0
  et1_on: 0
  e11_to_e33_on: 0
  e32_to_e35_on: 0
  bdt_on: 1

  tight:
    reta77_min: 0.0
    reta77_max: 1.0

    rhad33_max: 1.0
    rhad33_min: 0.00

    w72_max: 1.0
    w72_min: 0.0

    re11_E_max: 1.0
    re11_E_min: 0.0

    CNN_max: 1.0
    CNN_min: 0.0
    #CNN_min: 0.8

    #correlation
    et1_max: 1.0
    et1_min: 0.6
    et1_min_b: 0.6
    et1_min_s: 0.0
    #correlation
    e32_over_e35_max: 1.0
    e32_over_e35_min: 0.8

    #correlation
    weta_cogx_max: 1.0
    weta_cogx_min: 0.0
    weta_cogx_max_b: 1.0
    weta_cogx_max_s: 0.0


    wphi_cogx_max: 1.0
    wphi_cogx_min: 0.0
    wphi_cogx_max_b: 1.0
    wphi_cogx_max_s: 0.0

    #correlation
    prob_max: 1.0
    prob_min: 0.0

    #small correlation
    e11_over_e33_max: 1.0
    e11_over_e33_min: 0.0

    #small correlation
    et4_max: 1.0
    et4_min: 0.0

    et2_max: 1.0
    et2_min: 0.0

    et3_max: 1.0
    et3_min: 0.0

    #w32 small correlation
    w32_max: 1.0
    w32_min: 0.0

    #bdt
    bdt_max: 1.0
    bdt_min: 0.6


  non_tight:
    reta77_min: 0.0
    reta77_max: 1.0

    rhad33_max: 1.0
    rhad33_min: 0.00

    w72_max: 1.0
    w72_min: 0.0

    re11_E_max: 1.0
    re11_E_min: 0.0

    CNN_max: 1.0
    CNN_min: 0.0
    #correlation
    et1_max: 1.0
    et1_min: 0.6
    #correlation
    e32_over_e35_max: 1.0
    e32_over_e35_min: 0.8

    #correlation
    weta_cogx_max: 1.0
    weta_cogx_min: 0.0
    weta_cogx_max_b: 1.0
    weta_cogx_max_s: 0.0

    wphi_cogx_max: 1.0
    wphi_cogx_min: 0.0
    wphi_cogx_max_b: 1.0
    wphi_cogx_max_s: 0.0

    #correlation
    prob_max: 1.0
    prob_min: 0.0

    #small correlation
    e11_over_e33_max: 1.0
    e11_over_e33_min: 0.0
  
    #small correlation
    et4_max: 1.0
    et4_min: 0.0

    #w32 small correlation
    w32_max: 1.0
    w32_min: 0.0

    #bdt
    bdt_max: 0.6
    bdt_min: 0.02

  common:
    wr_cogx_bound: 2.0
    cluster_weta_cogx_bound: 2.0

    prob_max: 1.0
    prob_min: 0.0

    e11_over_e33_max: 0.98
    e11_over_e33_min: 0.0

    e32_over_e35_max: 1.0
    e32_over_e35_min: 0.8

    et1_max: 1.0
    et1_min: 0.6






  unfold:
    resultit: 2
    resultleak: 1
    reweight: 1




